.body{
    background: #FFFFFF;
}


.blue_container{
    position: absolute;
    height: 850px;
    left: 640px;
    right: 0px;
    top: 0px;
    background: #697BFF;
}

.main_logo{
    position: absolute;
    width: 79px;
    height: 40px;
    left: 165px;
    top: 20px;
}

.login_header{
    position: absolute;
    width: 350px;
    height: 82px;
    left: 165px;
    top: 188px;

    /* H1 - bold 60 (82, 0.1px) */

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 82px;
    /* identical to box height, or 137% */

    letter-spacing: 0.1px;

    /* neutral/black */

    color: #2B2B43
}

.sign_login{
    position: absolute;
width: 350px;
height: 40px;
left: 165px;
top: 286px;

/* Body 1 - regular 14 (20, 0.1px) */

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.1px;

/* neutral/gray dark */

color: #545563;
}

.email_container{
    position: absolute;
    width: 350px;
    height: 84px;
    left: 165px;
    top: 358px;
}

.email_label {
    position: absolute;
    height: 16px;
    left: 0px;
    right: 0px;
    top: 0px;

    /* Small 2 - semibold 12 (16, 0px) */

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */


    /* neutral/gray dark */
    color: #545563;
}

.email_input{
    

    position: absolute;
    left: 0px;
    right: 0px;
    top: 20px;
    bottom: 20px;

    /* neutral/gray light */

    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;

    /* Body 1 - regular 14 (20, 0.1px) */

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1px;

    /* neutral/gray */

    color: #83859C;

}

.password_container{
    position: absolute;
    width: 350px;
    height: 84px;
    left: 165px;
    top: 450px;
}
.password_label{
    position: absolute;
    height: 16px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    /* Small 2 - semibold 12 (16, 0px) */
    
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    
    
    /* neutral/gray dark */
    
    color: #545563;
 }

.password_input{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 20px;
    bottom: 20px;
    
    /* neutral/gray light */
    
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1px;

    /* neutral/gray */

    color: #83859C;
    padding-right: 40px;
 }

 .ochi{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 12px;
    top: calc(50% - 20px/2);
 }
.checkbox_container{
    position: absolute;
    width: 350px;
    height: 20px;
    left: 165px;
    top: 542px;
 }

.check-box{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: calc(50% - 20px/2);

    /* neutral/gray light */

    border: 2px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 4px;
 }

.check_label{
    position: absolute;
    left: 32px;
    right: 0px;
    top: 3.0px;
    bottom: 0px;
    
    /* Body 1 - regular 14 (20, 0.1px) */
    
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.1px;
    
    /* neutral/black */
    
    color: #2B2B43;
 }

.button_login{
     /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 140px;

    position: absolute;
    width: 350px;
    height: 44px;
    left: 160px;
    top: 602px;

    /* primary/default */

    background: #4E60FF;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border-radius: 8px;


    /* Button 1 - bold 14 (20, 0.4px) */

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;

    /* neutral / white */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
 }

.button_forgot{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px 12px 110px;

    position: absolute;
    width: 350px;
    height: 44px;
    left: 165px;
    top: 662px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    border:none;
    text-align: center;

    /* primary/default */

    color: #4E60FF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
    background-color: #FFFFFF;
    }

.text_sign-up{
    position: absolute;
    width: 350px;
    height: 20px;
    left: 200px;
    top: 800px;

    /* Body 1 - regular 14 (20, 0.1px) */

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;

    /* neutral/gray dark */

    color: #545563;
    }

.img_reviews{
    /* reviews */


    position: absolute;
    width: 313px;
    height: 437px;
    left: 95px;
    top: 48px;

    filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.3));
}

.img_patrat{
    position: absolute;
    width: 294px;
    height: 278.88px;
    left: 451px;
    top: 80px;

    filter: drop-shadow(-40px 70px 80px rgba(49, 57, 120, 0.3));
}

.img_card{
    position: absolute;
    width: 618px;
    height: 132px;
    left: 65px;
    top: 430px;

    filter: drop-shadow(0px 0px 80px rgba(49, 57, 120, 0.4));
}

.text_leave{
    
    position: absolute;
    width: 480px;
    height: 42px;
    left: 190px;
    top: 688px;

    /* H3 - bold 32 (42, 0.1px) */

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;

    /* neutral / white */

    color: #FFFFFF;
}

.text_mic{
    position: absolute;
    width: 480px;
    height: 40px;
    left: 150px;
    top: 750px;

    /* Body 1 - regular 14 (20, 0.1px) */

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;

    /* neutral / white */

    color: #FFFFFF;
}

.dots{
    position: absolute;
    width: 56px;
    height: 8px;
    left: 372px;
    top: 800px;
}

@media screen and (max-width:431px ) {
    .blue_container{
        display: none;
    }

   

    .telefon{
        position: absolute;
        left:15px;
       
        
    }
}

@media screen and (max-width:830px) and (max-height:430px) {
    .blue_container{
        display: none;
    }

    .telefon{
        left:250px;
    }
}
   